/*
!/.bashrc
!/.bash_profile
!/.commonrc
!/.bash_logout
!/.tmux.conf.local
!/.uncrustify.cfg
!/.Xdefaults
!/.zshrc
!/.gitconfig
!/.gitignore
!/.README
!/.LICENSE
!/.festivalrc
!/install.sh
!/.pam_environment
!/.asoundrc
!/.profile

!/bin
/bin/ydcv
/bin/ue4

!/.urxvt
/.urxvt/*
!/.urxvt/ext
/.urxvt/ext/*
!/.urxvt/ext/fullscreen
!/.urxvt/ext/font-size

!/.vim
!/.vim/.ycm_extra_conf.py
/.vim/*
!/.vim/UltiSnips
!/.vim/UltiSnips/*

!/.cheat
!/.cheat/*

!/.config
/.config/*
!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.vim
!/.config/i3
/.config/i3/*
!/.config/i3/config
!/.config/alacritty
!/.config/alacritty/*
!/.config/yay
!/.config/yay/*
!/.config/polybar
!/.config/polybar/*
!/.config/fontconfig
!/.config/fontconfig/*
!/.config/picom.conf

!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/nvim
/.local/share/nvim/*
!/.local/share/nvim/site
/.local/share/nvim/site/*
!/.local/share/nvim/site/autoload
/.local/share/nvim/site/autoload/*
!/.local/share/nvim/site/autoload/plug.vim
