[icdiff]
	options = --highlight --line-numbers
[core]
	autocrlf = false
	safecrlf = true
[user]
	email = qiboda00@gmail.com
	name = qiboda
[github]
	user = qiboda
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
